/* ---- HEADER ---- */
header{
    position: fixed;
    background-color: white;
    padding: 2%;
}

header a img{
    margin-left: 5%;
}

/* ----- Bouton ----- */
.btn-primary {
    background-color: rgb(13, 141, 141) !important; 
    border: none !important;
}

.btn-primary:hover {
    background-color: rgb(13, 141, 141) !important;
    border-color: none !important;
}